.banner-content {
  position: relative;

  .banner-indications {
    position: absolute;
    bottom: 2em;
    left: 2em;
    color: #fdd835;
    width: 300px;
    opacity: 0.8;
  }
  .banner-login {
    position: absolute;
    top: 2vh;
    right: 2vw;
    color: #ff8f00;
  }
}