@import url('https://fonts.googleapis.com/css?family=Quicksand|Wallpoet|Odibee+Sans:300,400,500,600,700&display=swap');

body {
  font-family: 'Quicksand', sans-serif !important;
}

h4 {
  font-family: 'Quicksand', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

// Colors
$darkblue: #233567;
$blue: #1e88e5;
$teal: #00796b;
$sunset: #f9a825;
$red: #b71c1c;
$yellow: #fdd835;
$white: #FFFFFF;
$start: #757575;
$building: #ef5350;
$growing: #ff8f00;
$almost: #aed581;
$finish: #00c853;
$purple:#c086ba;
$green : #008000;
$black :#000;
// Style Guide
$ocean: #237091;
$sky: #04a1e3;
$light-sky: #a2e1fc;
$baby-blue: #eef9fd;
$baby-pink: #fde0dc;

// Fonts
$typed: 'Wallpoet', cursive;


// body {
//   margin: 0;
//   height: 100vh;
// }
//
// canvas {
//   display: block
// }
//
// .take-quiz-banner {
//   position: absolute;
//   top: 2em;
//   left: 2em;
//   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
//   font-size: 7em;
//   text-transform: uppercase;
//   width: auto;
//   line-height: .8em;
//   border: 5px solid black;
//   padding: .2em;
// }
