@import '../../../styles/variables.scss';

.quiz-selection {
  .quiz-selection-container {
    margin: 0 40px;
    width: 89vw;
    display: flex;
    justify-content: space-between;
    .css-1vsgq5g { // loader
      margin: 0 auto;
    }
    .quiz-selection-container-board {
      width: 30%;
      padding: 50px;
      height: 630px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: default;
      margin-top: 50px;
      .intro-quiz-selection {
        height: 140px;
      }
      .timer {
        display: flex !important;
        margin-bottom: 15px;
        margin-top: 20px;
        .time {
          color: $sky;
        }
      }
    }
    // Single goals
    .quiz-selection-single-goals {
      width: 65%;
      display: flex;
      align-items: center;
      .quiz-selection-icon {
        overflow: hidden;
        margin: 10px 0;
        width: 161px;
        height: 161px;
        cursor: pointer;
        display: flex;
        padding: 14px;
        border-radius: 9px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: transparent;
        -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
      	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
      	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        svg {
          fill: $sky;
          width: 100px;
          height: 120px;
          padding-top: 15px;
        }
        &:hover {
          color: $sky;
        }
        .quiz-selection-icon-name {
          font-size: 20px;
          margin-top: -15px;
          position: absolute;
          bottom: 15px;
        }
      }
      .icon-selected {
        background-image: linear-gradient(to bottom right, #a2e1fc, #04a1e3);
        border-radius: 9px;
        width: 161px;
        p {
          color: $white;
        }
        svg {
          fill: $white;
        }
      }
      .icon-unselected {
        color: inherit;
      }
    }
    // group goals
    .quiz-selection-groups-container {
      min-width: 60%;
      .quiz-selection-groups {
        height: 420px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
        .quiz-selection-groups-icon {
          text-align: center;
          cursor: pointer;
          opacity: 0.8;
          transition: 0.5s all;
          -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
          border-radius: 9px;
          width: 235px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $sky;
          &:hover {
            opacity: 1;
          }
          svg {
            width: 190px;
            margin-bottom: 12px;
            border-radius: 9px;
            fill: $sky;
          }
          h4 {
            margin: 0;
          }
        }
        .icon-selected {
          background-image: linear-gradient(to bottom right, #a2e1fc, #04a1e3);
          h4 {
            color: $white;
          }
          svg {
            fill: $white;
          }
        }
      }
      .quiz-selection-groups-switch {
        padding-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 224px;
        transition: 0.5s all;
        button {
          background: $sky;
          color: white !important;
        }
      }
    }
    svg.switch-icon {
      cursor: pointer;
      height: 82px;
      width: 63px;
      fill: $darkblue;
      opacity: 0.3;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.ui.small.basic.modal.transition.visible.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    justify-content: center;
    .text {
      width: 40%;
      display: flex;
      flex-direction: column;

    }
  }
  .actions {
    display: flex;
    justify-content: center;
    button {
      height: 47px;
    }
    input {
      background: transparent;
      color: $white;
    }
  }
}

.ui.basic.modal>.header {
  display: flex;
  justify-content: center;
}
.modal-close {
  position: absolute;
  right: 28vw;
}
