@import '../../../styles/variables.scss';

.form-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-user {
    width: 650px;
    padding: 30px;
    margin-top: 50px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;
    input {
      height: 21px;
    }
    i.icon-heart {
      color: $red;
    }
    label {
    }
    .ui.huge.header {
      margin-bottom: 26px;
    }
    .ui.tiny.header {
      margin-bottom: 7px;
    }
    .form-user-header {
      display: flex;
      justify-content: space-between;
      width: 95%;
    }
    i {
      margin: 0 !important;
    }
  }
  .navigation-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      background: transparent;
      &:hover {
        background: transparent;
        opacity: 0.7;
      }
      &:focus {
        background: transparent;
      }
    }
    i {
      color: $darkblue;
    }
  }
}

.form-lifestyle-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
